body {
  background-image: url("images/brickwall.png");
  font-family: 'PT Sans', sans-serif;
  padding: 20px 5%;
}

.container {
  margin: auto;
  max-width: 800px;
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}